@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--sidebar: 240 17% 98%;
		--foreground: 240 10% 3.9%;
		--card: 240 10% 95%;
		--card-foreground: 240 10% 3.9%;
		--nested-card-background: 240 10% 97%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 220.9 39.3% 11%;
		--primary-foreground: 210 20% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
	}

	.dark {
		/* --background: 240 10% 4.9%; */
		--background: 210 11.1% 7.1%;
		--sidebar: 210 10% 0%;
		--foreground: 0 0% 98%;
		/* --card: 240 7.7% 10.2%; */
		--card: 210 6.5% 12.2%;
		--card-nested: 210 5.4% 14.5%;
		--card-foreground: 0 0% 98%;
		--popover: 210 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 210 20% 98%;
		--primary-foreground: 220.9 39.3% 11%;
		--secondary: 210 3.7% 18.4%;
		--secondary-foreground: 0 0% 98%;
		--muted: 210 3.7% 18.4%;
		--muted-foreground: 210 5% 54.9%;
		--accent: 210 3.7% 18.4%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 210 3.7% 18.4%;
		--input: 210 3.7% 18.4%;
		--ring: 270 60% 52%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
