* {
	scrollbar-width: none;
}
/* This will affect the whole website */
::-webkit-scrollbar {
	width: 0px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
	background: #000000; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
	background: #888; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
	background: #555; /* color of the scroll thumb when hovering */
}
